<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="post" class="fos_user_profile_edit">
    <div class="card">
        <div class="card-header"><h2>Informations de connexion</h2></div>
        <div class="card-body card-padding">
            <div class="form-group">
                <div class="fg-line">
                    {{ form_label(form.username, 'Nom d\'utilisateur *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Nom d\'utilisateur'} }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="fg-line">
                    {{ form_label(form.email, 'Adresse email *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Email'} }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="fg-line">
                    {{ form_label(form.current_password, 'Mot de passe *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                    {{ form_widget(form.current_password, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Mot de passe'} }) }}
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header"><h2>Coordonnées</h2></div>
        <div class="card-body card-padding">
            <div class="form-group">
                <div class="fg-line">
                    {{ form_label(form.nom, 'Nom', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                    {{ form_widget(form.nom, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Nom'} }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="fg-line">
                    {{ form_label(form.prenom, 'Prénom (seulement profil étudiant)', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                    {{ form_widget(form.prenom, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Prénom'} }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="fg-line">
                    {{ form_label(form.siret, 'Siret (seulement profil entreprise)', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                    {{ form_widget(form.siret, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Siret'} }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="fg-line">
                    {{ form_label(form.rue, 'Rue, voie', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                    {{ form_widget(form.rue, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Rue'} }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="fg-line">
                    {{ form_label(form.codePostal, 'Code postal', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                    {{ form_widget(form.codePostal, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'CP'} }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="fg-line">
                    {{ form_label(form.ville, 'Ville', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                    {{ form_widget(form.ville, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Ville'} }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="fg-line">
                    {{ form_label(form.numero, 'Numéro de téléphone', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                    {{ form_widget(form.numero, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Numéro'} }) }}
                </div>
            </div>
        </div>
    </div>
    {% if user.typeUt == 'Entreprise' or user.typeUt == 'Etudiant' %}
    <div class="card">
        <div class="card-header"><h2>Secteur, métier</h2></div>
        <div class="card-body card-padding">
            <div class="form-group">
                <div class="fg-line">
                    {{ form_label(form.secteur, 'Secteur d\'activités *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                    {{ form_widget(form.secteur, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Secteur'} }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="fg-line">
                    {{ form_label(form.sectAutre, 'Si autre, précisez', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                    {{ form_widget(form.sectAutre, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Autre secteur'} }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="fg-line">
                    {{ form_label(form.metier, 'Métier dans l\'entreprise (seulement profil étudiant)', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                    {{ form_widget(form.metier, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Métier'} }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="fg-line">
                    {{ form_label(form.metAutre, 'Si autre, précisez', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                    {{ form_widget(form.metAutre, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Autre métier'} }) }}
                </div>
            </div>
        </div>
    </div>
    {% endif %}


    <div class="row">
        <div class="col-sm-offset-10 col-sm-1">
            <button type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}"
                    class="btn btn-primary btn-sm m-t-10 waves-effect waves-button waves-float">Mettre à jour
            </button>
        </div>
    </div>
</form>