<div class="card" id="profile-main">
	<div class="card-header bgm-orange">
		<h2>{{ user.username }}</h2>
	</div>
	<div class="clearfix">
		<div class="pmb-block">
			<div class="pmbb-header">
				<h2><i class="glyphicon glyphicon-earphone m-r-5"></i>Coordonnées</h2>
			</div>
			<div class="pmbb-body p-l-30">
				<div class="pmbb-view">
					<dl class="dl-horizontal">
						<dt>
							Nom
						</dt>
						<dd>
							{{ user.nom }}
						</dd>
					</dl>
					{% if user.typeUt == 'Entreprise' %}
					<dl class="dl-horizontal">
						<dt>
							Siret
						</dt>
						<dd>
							{{ user.siret }}
						</dd>
					</dl>
					{% endif %}
					{% if user.typeUt == 'Etudiant' or user.typeUt == 'Responsable' %}
					<dl class="dl-horizontal">
						<dt>
							Prénom
						</dt>
						<dd>
							{{ user.prenom }}
						</dd>
					</dl>
					{% endif %}
					<dl class="dl-horizontal">
						<dt>
							Rue, voie
						</dt>
						<dd>
							{{ user.rue }}
						</dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>
							Code postal
						</dt>
						<dd>
							{{ user.codePostal }}
						</dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>
							Ville
						</dt>
						<dd>
							{{ user.ville }}
						</dd>
					</dl>					
					<dl class="dl-horizontal">
						<dt>
							Numéro de téléphone
						</dt>
						<dd>
							{{ user.numero }}
						</dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>
							Adresse email
						</dt>
						<dd>
							{{ user.email }}
						</dd>
					</dl>
				</div>
			</div>
		</div>
		{% if user.typeUt == 'Etudiant' or user.typeUt == 'Entreprise' %}
		<div class="pmb-block">
			<div class="pmbb-header">
				<h2><i class="glyphicon glyphicon-globe m-r-5"></i>Informations professionnelles</h2>
			</div>
			<div class="pmbb-body p-l-30">
				<div class="pmbb-view">
					<dl class="dl-horizontal">
						<dt>
							Secteur d'activités
						</dt>
						<dd>
							{{ user.secteur }}
						</dd>
					</dl>
					{% if user.secteur == 'Autre' %}
					<dl class="dl-horizontal">
						<dt>
							Autre secteur
						</dt>
						<dd>
							{{ user.sectAutre }}
						</dd>
					</dl>
					{% endif %}
					{% if user.typeUt == 'Etudiant' %}
					<dl class="dl-horizontal">
						<dt>
							Métier
						</dt>
						<dd>
							{{ user.metier }}
						</dd>
					</dl>
					{% if user.metier == 'Autre' %}
					<dl class="dl-horizontal">
						<dt>
							Autre métier
						</dt>
						<dd>
							{{ user.metAutre }}
						</dd>
					</dl>
					{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</div>