{% extends "AMiEHomeBundle::layout.html.twig" %}

{% block title "Modifier une actualité" %}

    {% block head "Modifier une actualité" %}

        {% block content %}
            <form action="{{ path('amie_actualites_modifieractualite', { 'id': id }) }}"
                  method="POST" {{ form_enctype(formActuModif) }}>
                <div class="card">
                    <div class="card-header"><h2>Détails de l'actualité</h2></div>
                    <div class="card-body card-padding">
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formActuModif.titre, 'Titre *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formActuModif.titre, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Titre'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formActuModif.contenu, 'Contenu *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formActuModif.contenu, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Contenu'} }) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header"><h2>Ajouter une image</h2></div>
                    <div class="card-body card-padding">

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-offset-11 col-sm-1">
                        <button type="submit"
                                class="btn btn-primary btn-sm m-t-10 waves-effect waves-button waves-float">Valider
                        </button>
                    </div>
                </div>
            </form>
        {% endblock %}