{% extends "AMiEHomeBundle::layout.html.twig" %}
{% block title "Fiche" %}

{% block head "Consultation d'un formulaire" %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
					<h2>{{ formulaire.prenom }} {{ formulaire.nom }}
					<small style="display: block">Né(e) le {{ formulaire.dateNaissance|date("d/m/Y") }}</small>
					</h2>
				{% if is_granted('ROLE_SUPER_ADMIN') %}
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-chevron-down fa-fw"></i>
					</button>
					<ul class="dropdown-menu slidedown">
						<li>
							<a href="{{ path('amie_miagistes_modifierformulaire', { 'id': formulaire.id}) }}"title="Modifier ce miagiste"><i class="fa fa-edit fa-fw"></i> Modifier</a>
						</li>
						<li>
							<a href="{{ path('amie_miagistes_supprimerformulaire', { 'id': formulaire.id}) }}"title="Supprimer ce miagiste"onclick="if(confirm('Attention action irréversible ! Confirmer la suppression ?')) return true; else return false;"><i class="fa fa-trash fa-fw"></i> Supprimer</a>
						</li>
					</ul>
				</div>
				{% endif %}				
			</div>
			<!-- /.panel-heading -->
			<div class="clearfix">
				<div class="panel-body">
					<div class="row">
						<h4 style="padding-left: 20px; display: inline;"><i class="fa fa-phone fa-fw"></i> Coordonnées</h4>
					
						<dl class="dl-horizontal">
							<dt>
								Rue, voie
							</dt>
							<dd>
								{{ formulaire.rue }}
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt>
								Code postal
							</dt>
							<dd>
								{{ formulaire.codePostal }}
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt>
								Ville
							</dt>
							<dd>
								{{ formulaire.ville }}
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt>
								Numéro de téléphone
							</dt>
							<dd>
								{{ formulaire.numero }}
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt>
								Adresse email
							</dt>
							<dd>
								{{ formulaire.mail }}
							</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt>
								Année de promotion M2
							</dt>
							<dd>
								{{ formulaire.anneePromo }}
							</dd>
						</dl>
					</div>
					<!-- /.row (nested) -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.clearfix -->
			<div class="clearfix">
				<div class="panel-body">
					<div class="row">
						<h4 style="padding-left: 20px; display: inline;"><i class="fa fa-globe fa-fw"></i> Insertion professionnelle</h4>
					
						<dl class="dl-horizontal">
						<dt>
							Entreprise d'accueil durant l'apprentissage
						</dt>
						<dd>
							{{ formulaire.entAccueil }}
						</dd>
						</dl>
						<dl class="dl-horizontal">
							<dt>
								Embauché (sous contrat de travail)
							</dt>
							<dd>
								{{ formulaire.embauche }}
							</dd>
						</dl>
						{% if formulaire.embauche == 'Oui' %}
						<dl class="dl-horizontal">
							<dt>
								Type de contrat
							</dt>
							<dd>
								{{ formulaire.typeContrat }}
							</dd>
						</dl>
						{% endif %}{% if formulaire.typeContratAutre == 'Autre' %}
						<dl class="dl-horizontal">
							<dt>
								Autre
							</dt>
							<dd>
								{{ formulaire.typeContratAutre }}
							</dd>
						</dl>
						{% endif %}{% if formulaire.entActuelle == 'Oui' or formulaire.entActuelle == 'Non' %}
						<dl class="dl-horizontal">
							<dt>
								Par l'entreprise d'accueil
							</dt>
							<dd>
								{{ formulaire.entActuelle }}
							</dd>
						</dl>
						{% endif %}{% if formulaire.entActuelle == 'Non' %}
						<dl class="dl-horizontal">
							<dt>
								Raisons si non embauché par l'entreprise d'accueil
							</dt>
							<dd>
								{{ formulaire.raisonNonEmbauche }}
							</dd>
						</dl>
						{% endif %}
						{% if formulaire.raisonNonEmbauche == 'Autres raisons' %}
						<dl class="dl-horizontal">
							<dt>
								Autres raisons
							</dt>
							<dd>
								{{ formulaire.raisonAutre }}
							</dd>
						</dl>
						{% endif %}
						{% if formulaire.entActuelle == 'Non' and formulaire.embauche == 'Oui' %}
						<dl class="dl-horizontal">
							<dt>
								Entreprise si embauché par une autre
							</dt>
							<dd>
								{{ formulaire.entrepriseAutre }}
							</dd>
						</dl>
						{% endif %}
						{% if formulaire.embauche == 'Oui' %}
						<dl class="dl-horizontal">
							<dt>
								Niveau de salaire brut prévu (en €)
							</dt>
							<dd>
								{{ formulaire.niveauSalaire }}
							</dd>
						</dl>
						{% endif %}
						{% if formulaire.embauche == 'Non' %}
						<dl class="dl-horizontal">
							<dt>
								Situation actuelle si non embauché
							</dt>
							<dd>
								{{ formulaire.situationNonEmbauche }}
							</dd>
						</dl>
						{% endif %}
						{% if formulaire.situationNonEmbauche == 'Autre situation' %}
						<dl class="dl-horizontal">
							<dt>
								Autre situation
							</dt>
							<dd>
								{{ formulaire.situationAutre }}
							</dd>
						</dl>
						{% endif %}
					</div>
					<!-- /.row (nested) -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.clearfix -->	
			{% if formulaire.embauche == 'Oui' %}
			<div class="clearfix">
				<div class="panel-body">
					<div class="row">
						<h4 style="padding-left: 20px; display: inline;"><i class="fa fa-briefcase fa-fw"></i> Embauché : son entreprise, son métier</h4>
						
						<dl class="dl-horizontal">
						<dt>
							Secteur d'activités de l'entreprise
						</dt>
						<dd>
							{{ formulaire.secteur }}
						<dd>
						</dl>
						{% if formulaire.secteur == 'Autre' %}
						<dl class="dl-horizontal">
							<dt>
								Autre
							</dt>
							<dd>
								{{ formulaire.sectAutre }}
							<dd>
						</dl>
						{% endif %}
						<dl class="dl-horizontal">
							<dt>
								Métier dans l'entreprise
							</dt>
							<dd>
								{{ formulaire.metier }}
							<dd>
						</dl>
						{% if formulaire.metier == 'Autre' %}
						<dl class="dl-horizontal">
							<dt>
								Autre
							</dt>
							<dd>
								{{ formulaire.metAutre }}
							<dd>
						</dl>
						{% endif %}
					</div>
					<!-- /.row (nested) -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.clearfix -->
			{% endif %}
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}
