{% extends "AMiEHomeBundle::layout.html.twig" %}

{% block title "Formulaire de fin d'études" %}

    {% block head "Formulaire de fin d'études" %}

        {% block content %}
            <form action="{{ path('amie_miagistes_formulaire') }}" method="POST" {{ form_enctype(formMiag) }}>
                <div class="card">
                    <div class="card-header"><h2>Vos coordonnées</h2></div>
                    <div class="card-body card-padding">
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.nom, 'Nom *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.nom, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Nom'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.prenom, 'Prénom *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.prenom, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Prénom'} }) }}
                            </div>
                        </div>
						<div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.dateNaissance, 'Date de naissance *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.dateNaissance, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Date'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.rue, 'Rue, voie *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.rue, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Rue, voie'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.codePostal, 'Code postal *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.codePostal, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Code postal'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.ville, 'Ville *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.ville, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Ville'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.numero, 'Numéro de téléphone *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.numero, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Numéro de téléphone'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.mail, 'Adresse mail *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.mail, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Adresse mail'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.anneePromo, 'Année de promotion *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.anneePromo, { 'attr': {'class': 'form-control input-lg', 'placeholder': ''} }) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header"><h2>Insertion professionnelle</h2></div>
                    <div class="card-body card-padding">
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.entAccueil, 'Entreprise où vous avez effectué l\'apprentissage *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.entAccueil, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Entreprise'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.embauche, 'Êtes-vous embauché (sous contrat de travail) ? *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.embauche, { 'attr': {'class': 'form-control input-lg', 'placeholder': ''} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.typeContrat, 'Si oui, avec quel contrat ?', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.typeContrat, { 'attr': {'class': 'form-control input-lg', 'placeholder': ''} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.typeContratAutre, 'Si autre, précisez', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.typeContratAutre, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Type du contrat'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.entActuelle, 'Si oui, par votre entreprise d\'accueil ?', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.entActuelle, { 'attr': {'class': 'form-control input-lg', 'placeholder': ''} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.raisonNonEmbauche, 'Si vous n\'êtes pas embauché par votre entreprise d\'accueil, quelles en sont les raisons ?', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.raisonNonEmbauche, { 'attr': {'class': 'form-control input-lg'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.raisonAutre, 'Si pour d\'autres raisons, précisez', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.raisonAutre, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Raisons'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.entrepriseAutre, 'Vous êtes embauché par une autre entreprise, laquelle ?', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.entrepriseAutre, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Entreprise'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.niveauSalaire, 'Quel est votre niveau de salaire annuel brut prévu (en €) ?', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.niveauSalaire, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Salaire'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.situationNonEmbauche, 'Si vous n\'êtes pas embauché, quelle est votre situation actuelle ?', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.situationNonEmbauche, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Situation'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.situationAutre, 'Si dans une autre situation, précisez', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.situationAutre, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Situation'} }) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header"><h2>Vous êtes embauché : votre métier, votre entreprise</h2></div>
                    <div class="card-body card-padding">
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.secteur, 'Secteur d\'activité de votre entreprise', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.secteur, { 'attr': {'class': 'form-control input-lg', 'placeholder': ''} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.sectAutre, 'Si autre, précisez', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.sectAutre, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Autre secteur'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.metier, 'Votre métier dans cette entreprise', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.metier, { 'attr': {'class': 'form-control input-lg', 'placeholder': ''} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiag.metAutre, 'Si autre, précisez', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiag.metAutre, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Autre métier'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_rest(formMiag) }}
                <div class="row">
                    <div class="col-sm-offset-11 col-sm-1">
                        <button type="submit"
                                class="btn btn-primary btn-sm m-t-10 waves-effect waves-button waves-float">Valider
                        </button>
                    </div>
                </div>
            </form>
        {% endblock %}