{% extends "AMiEHomeBundle::layout.html.twig" %}

{% block title "Modification" %}

    {% block head "Modifier un formulaire" %}

        {% block content %}
            <form action="{{ path('amie_miagistes_modifierformulaire', { 'id': id }) }}"
                  method="POST" {{ form_enctype(formMiagModif) }}>
                <div class="card">
                    <div class="card-header"><h2>Vos coordonnées</h2></div>
                    <div class="card-body card-padding">
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.nom, 'Nom *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.nom, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Nom'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.prenom, 'Prénom *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.prenom, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Prénom'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.rue, 'Rue, voie *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.rue, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Rue, voie'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.codePostal, 'Code postal *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.codePostal, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Code postal'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.ville, 'Ville *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.ville, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Ville'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.numero, 'Numéro de téléphone *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.numero, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Numéro de téléphone'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.mail, 'Adresse mail *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.mail, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Adresse mail'} }) }}
                            </div>
                        </div>

                    </div>
                </div>

                <div class="card">
                    <div class="card-header"><h2>Insertion professionnelle</h2></div>
                    <div class="card-body card-padding">
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.entAccueil, 'Entreprise où vous avez effectué l\'apprentissage *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.entAccueil, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Entreprise'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.anneePromo, 'Année de promotion *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.anneePromo, { 'attr': {'class': 'form-control input-lg', 'placeholder': ''} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.embauche, 'Êtes-vous embauché (sous contrat de travail) ? *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.embauche, { 'attr': {'class': 'form-control input-lg', 'placeholder': ''} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.typeContrat, 'Si oui, avec quel contrat ?', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.typeContrat, { 'attr': {'class': 'form-control input-lg', 'placeholder': ''} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.typeContratAutre, 'Si autre, précisez', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.typeContratAutre, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Type du contrat'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.entActuelle, 'Si oui, par votre entreprise d\'accueil ?', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.entActuelle, { 'attr': {'class': 'form-control input-lg', 'placeholder': ''} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.raisonNonEmbauche, 'Si vous n\'êtes pas embauché par votre entreprise d\'accueil, quelles en sont les raisons ?', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.raisonNonEmbauche, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Raisons'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.raisonAutre, 'Si pour d\'autres raisons, précisez', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.raisonAutre, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Raisons'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.entrepriseAutre, 'Vous êtes embauché par une autre entreprise, laquelle ?', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.entrepriseAutre, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Entreprise'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.niveauSalaire, 'Quel est votre niveau de salaire annuel brut prévu ?', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.niveauSalaire, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Salaire'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.situationNonEmbauche, 'Si vous n\'êtes pas embauché, quelle est votre situation actuelle ?', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.situationNonEmbauche, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Situation'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.situationAutre, 'Si dans une autre situation, précisez', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.situationAutre, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Situation'} }) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header"><h2>Vous êtes embauché : votre métier, votre entreprise</h2></div>
                    <div class="card-body card-padding">
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.secteur, 'Secteur d\'activité de votre entreprise', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.secteur, { 'attr': {'class': 'form-control input-lg', 'placeholder': ''} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.sectAutre, 'Si autre, précisez', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.sectAutre, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Autre secteur'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.metier, 'Votre métier dans cette entreprise', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.metier, { 'attr': {'class': 'form-control input-lg', 'placeholder': ''} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="fg-line">
                                {{ form_label(formMiagModif.metAutre, 'Si autre, précisez', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                                {{ form_widget(formMiagModif.metAutre, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Autre métier'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ form_rest(formMiagModif) }}
                <div class="row">
                    <div class="col-sm-offset-11 col-sm-1">
                        <button type="submit"
                                class="btn btn-primary btn-sm m-t-10 waves-effect waves-button waves-float">Valider
                        </button>
                    </div>
                </div>
            </form>
        {% endblock %}