{% extends "AMiEHomeBundle::layout.html.twig" %}

{% block title "Miagistes" %}

{% block css %}
    <!-- DataTables CSS -->
    <link href="{{ asset('bundles/amiehome/css/plugins/dataTables.bootstrap.css') }}" rel="stylesheet">
{% endblock %}

{% block head "Tous les Miagistes" %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover" id="dataTables-miagistes">
				<thead>
					<tr>
						<th>Nom</th>
                        <th>Prénom</th>
						<th>Mail</th>
						<th>Entreprise d'accueil</th>
						<th>Embauché ?</th>
						<th>Contrat</th>
						<th>Salaire</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for miagiste in miagistes %}
					<tr>
						<td>{{ miagiste.nom }}</td>
						<td>{{ miagiste.prenom }}</td>
						<td>{{ miagiste.mail }}</td>
						<td>{{ miagiste.entAccueil }}</td>
						<td>{{ miagiste.embauche }}</td>
						<td>{{ miagiste.typeContrat }}</td>
						<td>{{ miagiste.niveauSalaire }}</td>

						<td>
							<ul class="list-inline">
								<li>
									<a href="{{ path('amie_miagistes_fiche', { 'id': miagiste.id}) }}" title="Afficher ce miagiste" onclick="">
										<i class="fa fa-upload fa-fw"></i> 
									</a>
								</li>
								{% if is_granted('ROLE_SUPER_ADMIN') %}
								<li>
									<a href="{{ path('amie_miagistes_modifierformulaire', { 'id': miagiste.id}) }}" title="Modifier ce miagiste" onclick="">
										<i class="fa fa-pencil fa-fw"></i> 
									</a>
								</li>
								<li>
									<a href="{{ path('amie_miagistes_supprimerformulaire', { 'id': miagiste.id}) }}" title="Supprimer ce miagiste"
                                               onclick="if(confirm('Attention action irréversible ! Confirmer la suppression ?')) return true; else return false;">
										<i class="fa fa-trash fa-fw"></i>
									</a>
								</li>
								{% endif %}
							</ul>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
        <!-- /.table-responsive -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

			
<form action="{{ path('amie_miagistes_recherche') }}" method="POST">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3><i class="fa fa-search fa-fw" style="display: inline"></i> Recherche avancée</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group">
                                {{ form_label(formRech.nom, 'Rechercher par nom') }}
								{{ form_widget(formRech.nom, { 'attr': {'class': 'form-control', 'placeholder': 'Nom'} }) }}
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								{{ form_label(formRech.prenom, 'Rechercher par prénom') }}
								{{ form_widget(formRech.prenom, { 'attr': {'class': 'form-control', 'placeholder': 'Prénom'} }) }}
							</div>
						</div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                {{ form_label(formRech.embauche, 'Rechercher si embauché ou non') }}
                                {{ form_widget(formRech.embauche, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
								{{ form_label(formRech.entAccueil, 'Rechercher par entreprise d\'accueil') }}
								{{ form_widget(formRech.entAccueil, { 'attr': {'class': 'form-control', 'placeholder': 'Entreprise'} }) }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                {{ form_label(formRech.niveauSalaireMin, 'Rechercher par salaire minimum') }}
                                {{ form_widget(formRech.niveauSalaireMin, { 'attr': {'class': 'form-control', 'placeholder': 'Minimum'} }) }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
								{{ form_label(formRech.niveauSalaireMax, 'Rechercher par salaire maximum') }}
								{{ form_widget(formRech.niveauSalaireMax, { 'attr': {'class': 'form-control', 'placeholder': 'Maximum'} }) }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
								{{ form_label(formRech.typeContrat, 'Rechercher par type de contrat') }}
								{{ form_widget(formRech.typeContrat, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
								{{ form_label(formRech.secteur, 'Rechercher par secteur') }}
								{{ form_widget(formRech.secteur, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
								{{ form_label(formRech.metier, 'Rechercher par métier') }}
								{{ form_widget(formRech.metier, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
					</div>
					<!-- /.row (nested) -->
					<div class="col-sm-offset-9 col-sm-4">
                        <button type="submit" name="submitAction" value="rechercher" class="btn btn-primary">
							Rechercher
                        </button>
						<button type="submit" name="submitAction" value="exporter" class="btn btn-primary">
							Exporter
						</button>
					</div>
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</form>
<!-- /.form -->

	{% block js %}
		<!-- DataTables JavaScript -->
		<script src="{{ asset('bundles/amiehome/js/plugins/dataTables/jquery.dataTables.js') }}"></script>
		<script src="{{ asset('bundles/amiehome/js/plugins/dataTables/dataTables.bootstrap.js') }}"></script>
		
		<!-- Page-Level Demo Scripts - Tables - Use for reference -->
		<script>
		$(document).ready( function() {
			$('#dataTables-miagistes').dataTable( {
				"searching": false,
				"lengthMenu": [ 2, 10, 25, 50, 75, 100 ],
				 "language": {
					"emptyTable": "Aucun résultat.",
					"decimal":        "",
					"info":           "_START_ sur _TOTAL_ formulaire(s)",
					"infoEmpty":      "",
					"infoFiltered":   "(filtered from _MAX_ total entries)",
					"infoPostFix":    "",
					"thousands":      ",",
					"lengthMenu":     "Voir _MENU_ résultats par page",
					"loadingRecords": "Chargement...",
					"processing":     "Chargement...",
					"search":         "Recherche :",
					"zeroRecords":    "Pas de résultat correspondant trouvé.",
					"paginate": {
						"first":      "Première",
						"last":       "Dernière",
						"next":       "Suivante",
						"previous":   "Précédente"
					},
					"aria": {
						"sortAscending":  ": activate to sort column ascending",
						"sortDescending": ": activate to sort column descending"
					}
				},
			});
		});
		</script>
	{% endblock %}
{% endblock %}