<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST"
      class="fos_user_change_password">
    <div class="card">
        <div class="card-body card-padding">
            <div class="form-group">
                <div class="fg-line">
                    {{ form_label(form.current_password, 'Mot de passe actuel *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                    {{ form_widget(form.current_password, { 'attr': {'class': 'form-control input-lg', 'placeholder': ''} }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="fg-line">
                    {{ form_label(form.new.children['first'], 'Mot de passe *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                    {{ form_widget(form.new.children['first'], { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Mot de passe'} }) }}
                </div>
            </div>
            <div class="form-group">
                <div class="fg-line">
                    {{ form_label(form.new.children['second'], 'Vérification du mot de passe *', { 'attr': {'class': 'c-black f-500 m-b-20'} }) }}
                    {{ form_widget(form.new.children['second'], { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Répéter mot de passe'} }) }}
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-offset-9 col-sm-1">
            <button type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}"
                    class="btn btn-primary btn-sm m-t-10 waves-effect waves-button waves-float">Modifier le mot de
                passe
            </button>
        </div>
    </div>
</form>