{% extends "AMiEHomeBundle::layout.html.twig" %}

{% block title "Nouveau message" %}

{% block head "Nouvelle conversation" %}

{% block content %}
<form action="{{ path('amie_home_creationconversation') }}" method="POST">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4><i class="fa fa-pencil fa-fw"></i> Rédiger un message</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<label>Destinataire</label>
								<select class="form-control" name="correspondant">
									{% for user in users %}
									<option value="{{ user.id }}">{{ user.prenom }} {{ user.nom }} ({{ user.username }})</option>
									{% endfor %}
								</select>
							</div>							
							<div class="form-group">
								<label>Votre message</label>
								<textarea class="form-control" rows="4" name="contenu" data-autosize-on="true"></textarea>
							</div>
						</div>
						<!-- /.col-lg-12 -->
					</div>
					<!-- /.row (nested) -->
				</div>
				<!-- /.panel-body -->
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
		<div class="col-sm-offset-10 col-sm-1">
			<button type="submit" class="btn btn-primary">Envoyer</button>
		</div>
	</div>
	<!-- /.row -->
</form>
<!-- /.form -->
{% endblock %}