{% extends "AMiEHomeBundle::layout.html.twig" %}

{% block title "Accueil" %}

{% block head %}
{% if app.user is empty %}
	Bienvenue sur AMiE !
{% else %}
	Bienvenue sur AMiE, {{ app.user.username|title }} !
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-clock-o fa-fw"></i> Dernières actualités
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="list-group">
					{% for actualite in actualites %}
					<a href="{{ path('amie_actualites_actualite', { 'id': actualite.id, 'slug': actualite.titre|slugify}) }}" title="Accéder à l'actualité" class="list-group-item">
						{{ actualite.titre|title }}
						<span class="pull-right text-muted small"><em>{{ actualite.updatedDate|localizeddate('full', 'none') }}</em>
						</span>
					</a>
					{% else %}
						Aucune actualité postée actuellement.
					{% endfor %}
				</div>
				<!-- /.list-group -->
				<a href="{{ path('amie_actualites_news') }}" title="Voir toutes les actualités" class="btn btn-default btn-block">Voir toutes les actualités</a>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-clock-o fa-fw"></i> Dernières offres
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="list-group">
					{% for offre in offres %}
					<a href="{{ path('amie_offresemplois_offre', { 'id': offre.id, 'slug': offre.titre|slugify}) }}" class="list-group-item">
						{{ offre.titre|title }}
						<span class="pull-right text-muted small"><em>{{ offre.updatedDate|localizeddate('full', 'none') }}</em>
						</span>
					</a>
					{% else %}
						Aucune offre postée actuellement.
					{% endfor %}
				</div>
				<!-- /.list-group -->
				<a href="{{ path('amie_offresemplois_offres') }}" class="btn btn-default btn-block">Voir toutes les offres</a>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-8 -->

	
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-globe fa-fw"></i> Partenaires
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="list-group">
					{% for partenaire in partenaires %}
						<a href="{{ partenaire.url }}" target="_blank" class="list-group-item">
							{{ partenaire.nom }}
						</a>
					{% else %}
					{% endfor %}
				</div>
					<a href="{{ path('amie_entreprises_partenaires') }}" title="Partenaires" class="btn btn-default btn-block">Voir tous les partenaires</a>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-4 -->
</div>
<!-- /.row -->
{% endblock %}
