{% extends "AMiEHomeBundle::layout.html.twig" %}

{% block title "Accueil" %}

{% block head %}
{% if app.user is empty %}Bienvenue sur AMiE !
{% else %}
Bienvenue sur AMiE, {{ app.user.username|title }} !
{% endif %}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header bgm-orange">
        <h2 style="color:#ffffff">Dernières offres publiées sur le site</h2>
    </div>
    <div class="card-body card-padding">
        {% for offre in offres %}
            <h3>
                <a href="{{ path('amie_offresemplois_offre', { 'id': offre.id, 'slug': offre.titre|slugify}) }}" title="Acceder à l'offre">{{ offre.titre|title }}</a>
                <small>
                    Le <time>{{ offre.updatedDate|localizeddate('full', 'none') }}</time> par <a href="{{ path('amie_entreprises_fiche', { 'id': offre.idEntreprise, 'slug': offre.nomEntreprise|slugify}) }}" title="Offre posté par {{ offre.nomEntreprise }}">{{ offre.nomEntreprise }}</a>
                </small>
            </h3>
            <a href="{{ path('amie_offresemplois_offre', { 'id': offre.id, 'slug': offre.titre|slugify}) }}" title="Acceder à l'offre">{{ offre.descriptif|length > 50 ? offre.descriptif|slice(0, 50) ~ '...' : offre.descriptif }}</a>
        {% else %}
			Aucune offre postée actuellement.
		{% endfor %}
    </div>
</div>
<div class="card">
    <div class="card-header bgm-orange">
        <h2 style="color:#ffffff">Dernières actualités publiées sur le site</h2>
    </div>
    <div class="card-body card-padding">
        {% for actualite in actualites %}
            <h3>
                <a href="{{ path('amie_actualites_actualite', { 'id': actualite.id, 'slug': actualite.titre|slugify}) }}" title="Acceder à l'actualité">{{ actualite.titre|title }}</a>
                <small>
                    Le <time>{{ actualite.updatedDate|localizeddate('full', 'none') }}</time>
                </small>
            </h3>
            <a href="{{ path('amie_actualites_actualite', { 'id': actualite.id, 'slug': actualite.titre|slugify}) }}" title="Acceder à l'actualité">{{ actualite.contenu|length > 50 ? actualite.contenu|slice(0, 50) ~ '...' : actualite.contenu }}</a>
        {% else %}
			Aucune annonce postée actuellement.
		{% endfor %}
    </div>
</div>
{% endblock %}
