{% extends "AMiEHomeBundle::layout.html.twig" %}

{% block title "Messagerie" %}

{% block head "Messagerie" %}

{% block content %}
<div class="row">
	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-envelope fa-fw"></i> Boîte de réception
				<div class="btn-group pull-right">
					<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-chevron-down"></i>
					</button>
                    <ul class="dropdown-menu slidedown">
						<li>
							<a href="{{ path('amie_home_creationconversation') }}" class="btn bgm-red btn-float waves-effect waves-button waves-float" id="ms-compose" title="Ecrire un nouveau message">
							<i class="fa fa-plus-circle fa-fw"></i> Nouveau message
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
			{% if conversationActuelle is defined and conversationActuelle is not null %}
				{% if app.user.id == conversationActuelle.idUtilisateur1 %}
					{% set pictureActuelle = 'default' %}
				{% else %}
					{% set pictureActuelle = 'default' %}
			{% endif %}
				<div class="list-group">
					<div class="list-group-item">
						<i class="fa fa-comment fa-fw"></i> {{ usersName[conversationActuelle.id] }}
						<span class="pull-right text-muted small"><em>{{ conversationActuelle.lastMessage|localizeddate('full', 'none') }}</em>
						</span>
					</div>
					{% for conversation in conversations %}
                    {% if conversation.id != conversationActuelle.id %}
                        {% if app.user.id == conversation.idUtilisateur1 %}
                            {% set picture = 'default' %}
                        {% else %}
                            {% set picture = 'default' %}
                        {% endif %}
							<a href="{{ path('amie_home_messagerie', { 'idConversation': conversation.id}) }}" title="Voir cette conversation" class="list-group-item">
								<i class="fa fa-comment fa-fw"></i> {{ usersName[conversation.id] }}
								<span class="pull-right text-muted small"><em>{{ conversation.lastMessage|localizeddate('full', 'none') }}</em>
								</span>
							</a>
                    {% endif %}
					{% endfor %}
				</div>
				<!-- /.list-group -->
			{% endif %}
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-4 -->
	<div class="col-lg-9">
		<div class="chat-panel panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-comments fa-fw"></i>
						Conversation avec {{ userCorrespondant.prenom }} {{ userCorrespondant.nom }} ({{ userCorrespondant.username }})
							<div class="btn-group pull-right">
								<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li>
                                        <a href="{{ path('amie_home_messagerie_supprimer', { 'idConversation': conversationActuelle.id}) }}" title="Supprimer cette conversation" onclick="if(confirm('Etes vous sûr de vouloir supprimer cette conversation ?')) return true; else return false;">
                                            <i class="fa fa-trash fa-fw"></i> Supprimer
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
							{% if conversationActuelle is defined and conversationActuelle is not null %}
								{% for message in messages %}
									{% if app.user.id == message.idEnvoyeur %}
										{% set position = 'right' %}
										{% set positionInv = 'left' %}
										{% set picture = 'default' %}
									{% else %}
										{% set position = 'left' %}
										{% set positionInv = 'right' %}
										{% set picture = 'default' %}
									{% endif %}
                                <li class="{{ position }} clearfix">
                                    <span class="chat-img pull-{{ position }}">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="pull-{{ position }} primary-font">
												{% if app.user.id != message.idEnvoyeur %}
													{{ userCorrespondant.prenom }} {{ userCorrespondant.nom }} ({{ userCorrespondant.username }})
												{% else %}
													{{ app.user.prenom }} {{ app.user.nom }} ({{ app.user.username }})
												{% endif %}
											</strong> 
                                            <small class="pull-{{ positionInv }} text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> {{ message.sentDate|date("d/m/Y") }} à {{ message.sentDate|date("H:i") }}
                                            </small>
                                        </div>
										
                                        <p style="padding-top: 20px">
                                            {{ message.contenu }}
                                        </p>
                                    </div>
                                </li>
								{% endfor %}
							{% endif %}
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
						{% if conversationActuelle is defined and conversationActuelle is not null %}
							<form action="{{ path('amie_home_messagerie_envoi', { 'idConversation': conversationActuelle.id}) }}" method="POST">
								<div class="input-group">
									<input name="message" id="btn-input" type="text" class="form-control input-sm" style="word-wrap: break-word" placeholder="Votre réponse ici..." />
									<span class="input-group-btn">
										<button type="submit" title="Envoyer le message" class="btn btn-warning btn-sm" id="btn-chat">
											Send
										</button>
									</span>
								</div>
							</form>
							{% endif %}
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}