{% extends "AMiEHomeBundle::layout.html.twig" %}

{% block title "Messagerie" %}

{% block head "Messagerie" %}

{% block content %}
{% if conversationActuelle is defined and conversationActuelle is not null %}
	{% if app.user.id == conversationActuelle.idUtilisateur1 %}
		{% set pictureActuelle = 'default' %}
	{% else %}
		{% set pictureActuelle = 'default' %}
{% endif %}

<div class="row">
	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-envelope fa-fw"></i> Boîte de réception
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="list-group">
					<a href="#" class="list-group-item">
						<i class="fa fa-comment fa-fw"></i> New Comment
						<span class="pull-right text-muted small"><em>4 minutes ago</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-twitter fa-fw"></i> 3 New Followers
						<span class="pull-right text-muted small"><em>12 minutes ago</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-envelope fa-fw"></i> Message Sent
						<span class="pull-right text-muted small"><em>27 minutes ago</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-tasks fa-fw"></i> New Task
						<span class="pull-right text-muted small"><em>43 minutes ago</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-upload fa-fw"></i> Server Rebooted
						<span class="pull-right text-muted small"><em>11:32 AM</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-bolt fa-fw"></i> Server Crashed!
						<span class="pull-right text-muted small"><em>11:13 AM</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-warning fa-fw"></i> Server Not Responding
						<span class="pull-right text-muted small"><em>10:57 AM</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
						<span class="pull-right text-muted small"><em>9:49 AM</em>
						</span>
					</a>
					<a href="#" class="list-group-item">
						<i class="fa fa-money fa-fw"></i> Payment Received
						<span class="pull-right text-muted small"><em>Yesterday</em>
						</span>
					</a>
				</div>
				<!-- /.list-group -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-4 -->
	<div class="col-lg-9">
		<div class="chat-panel panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-comments fa-fw"></i>
						Messages
					<div class="btn-group pull-right">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-plus-circle fa-fw"></i> Nouveau message
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-check-circle fa-fw"></i> Available
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-times fa-fw"></i> Busy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-clock-o fa-fw"></i> Away
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-sign-out fa-fw"></i> Sign Out
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong> 
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                                            </small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 13 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">Jack Sparrow</strong> 
                                            <small class="pull-right text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 14 mins ago</small>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff" alt="User Avatar" class="img-circle" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class=" text-muted">
                                                <i class="fa fa-clock-o fa-fw"></i> 15 mins ago</small>
                                            <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            <div class="input-group">
                                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button class="btn btn-warning btn-sm" id="btn-chat">
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="card m-b-0" id="messages-main">
    <a href="{{ path('amie_home_creationconversation') }}" class="btn bgm-red btn-float waves-effect waves-button waves-float" id="ms-compose" title="Ecrire un nouveau message">
        <i class="glyphicon glyphicon-plus"></i>
    </a>


    
        <div class="ms-menu">
            <div class="listview lv-user m-t-20">
                <div class="lv-item media active">
                        <div class="lv-avatar pull-left">
                            <img src="{{ asset('bundles/amiehome/images/profile-pics/' ~ pictureActuelle ~ '.jpg') }}" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lv-title">{{ usersName[conversationActuelle.id] }}</div>
                        </div>
                    </a>
                </div>
                {% for conversation in conversations %}
                    {% if conversation.id != conversationActuelle.id %}
                        {% if app.user.id == conversation.idUtilisateur1 %}
                            {% set picture = 'default' %}
                        {% else %}
                            {% set picture = 'default' %}
                        {% endif %}
                        <div class="lv-item media">
                            <a href="{{ path('amie_home_messagerie', { 'idConversation': conversation.id}) }}" title="Voir cette conversation">
                                <div class="lv-avatar pull-left">
                                    <img src="{{ asset('bundles/amiehome/images/profile-pics/' ~ picture ~ '.jpg') }}" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title">{{ usersName[conversation.id] }}</div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    {% endif %}
    
    <div class="ms-body">
        {% if conversationActuelle is defined and conversationActuelle is not null %}
        <div class="listview lv-message">
            <div class="lv-header-alt bgm-white">
                <div id="ms-menu-trigger">
                    <div class="line-wrap">
                        <div class="line top"></div>
                        <div class="line center"></div>
                        <div class="line bottom"></div>
                    </div>
                </div>

                <div class="lvh-label hidden-xs">
                    <div class="lv-avatar pull-left">
                        <img src="{{ asset('bundles/amiehome/images/profile-pics/' ~ pictureActuelle ~ '.jpg') }}" alt="">
                    </div>
                    <span class="c-black">{{ userCorrespondant.prenom }} {{ userCorrespondant.nom }} ({{ userCorrespondant.username }})</span>
                </div>
                
                <ul class="lv-actions actions">
                    <li>
                        <a href="{{ path('amie_home_messagerie_supprimer', { 'idConversation': conversationActuelle.id}) }}" title="Supprimer cette conversation" onclick="if(confirm('Etes vous sûr de vouloir supprimer cette conversation ?')) return true; else return false;">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="lv-body">
                {% for message in messages %}
                {% if app.user.id == message.idEnvoyeur %}
                    {% set position = 'right' %}
                    {% set picture = 'default' %}
                {% else %}
                    {% set position = 'left' %}
                    {% set picture = 'default' %}
                {% endif %}
                <div class="lv-item media {{ position }}">
                    <div class="lv-avatar pull-{{ position }}">
                        <img src="{{ asset('bundles/amiehome/images/profile-pics/' ~ picture ~ '.jpg') }}" alt="">
                    </div>
                    <div class="media-body">
                        <div class="ms-item">
                            {{ message.contenu }}
                        </div>
                        <small class="ms-date">
                            <i class="glyphicon glyphicon-time"></i>
                            {{ message.sentDate|date("d/m/Y") }} à {{ message.sentDate|date("H:i") }}
                        </small>
                    </div>
                </div>
                {% endfor %}
            </div>
            
            <div class="lv-footer ms-reply">
                {% if conversationActuelle is defined and conversationActuelle is not null %}
                <form action="{{ path('amie_home_messagerie_envoi', { 'idConversation': conversationActuelle.id}) }}" method="post">
                    <textarea name="message" data-autosize-on="true" class="auto-size" placeholder="Votre réponse..." style="overflow: hidden; word-wrap: break-word; height: 43px;"></textarea>

                    <button type="submit" title="Envoyer le message"><i class="glyphicon glyphicon-send"></i></button>
                </form>
                {% endif %}
            </div>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}