{% extends "AMiEHomeBundle::layout.html.twig" %}

{% block title "Notifications" %}

{% block head "Notifications" %}

{% block content %}
<div class="row">
	<div class="col-lg-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-clock-o fa-fw"></i> Historique des notifications
			</div>
			<!-- /.panel-heading -->
			{% if notifications is not defined %}
				<br/><p class="lead">&nbsp;&nbsp;Aucune activité sur le site pour le moment...</p><br/>
			{% elseif notifications is empty or users is empty %}
				<br/><p class="lead">&nbsp;&nbsp;Aucune activité sur le site pour le moment...</p><br/>
			{% else %}
				<div class="panel-body">
				{% for notification in notifications %}
					{% if "utilisateur" in notification.action %}
					<div class="alert alert-success alert-dismissable">						
						{{ notification.descriptif }}.
						<span class="pull-right text-muted small"><em>{{ notification.postedDate|date("d/m/Y") }}</em>
						</span>
					</div>
					{% elseif "formulaire" in notification.action %}
					<div class="alert alert-info alert-dismissable">						
						{{ notification.descriptif }}.
						<span class="pull-right text-muted small"><em>{{ notification.postedDate|date("d/m/Y") }}</em>
						</span>
					</div>
					{% elseif "offre" in notification.action %}
					<div class="alert alert-warning alert-dismissable">						
						{{ notification.descriptif }}.
						<span class="pull-right text-muted small"><em>{{ notification.postedDate|date("d/m/Y") }}</em>
						</span>
					</div>
					{% elseif "actualité" in notification.action %}
					<div class="alert alert-danger alert-dismissable">						
						{{ notification.descriptif }}.
						<span class="pull-right text-muted small"><em>{{ notification.postedDate|date("d/m/Y") }}</em>
						</span>
					</div>
					{% endif %}
				{% endfor %}
				</div>
				<!-- .panel-body -->
			{% endif %}
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-8 -->
	
	<div class="col-lg-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-tasks fa-fw"></i> Légende
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="alert alert-success">
					Utilisateurs.
				</div>
				<div class="alert alert-info">
					Formulaires.
				</div>
				<div class="alert alert-warning">
					Offres d'emploi.
				</div>
				<div class="alert alert-danger">
					Annonces.
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-4 -->
</div>
<!-- /.row -->
{% endblock %}